.add-product-wrapper {
    margin: auto;
    text-align: center;
    width: 350px;
    height: auto;
    background-color: #fff;
    padding: 30px;
    row-gap: 30px;
    border-radius: 5px;
    box-shadow: 1px 2px 5px #ccc;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}