#mainDiv{
    flex: 1;
    margin-left: 10px;
    /* position: fixed; */
}

#productsLabel{
    background-color: #01ffff;
    width: 200px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    margin-top: 20px;
    border-radius: 20px 20px 0 0;
}